*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
padding:20px;
}

/* container */
.container{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:25px;
width:100%;
max-width:900px;
}

/* card */
.card{
background:rgba(255,255,255,0.1);
padding:35px;
border-radius:20px;
text-align:center;
backdrop-filter:blur(10px);
box-shadow:0 0 30px rgba(0,0,0,0.5);
animation:fade 1s;
width:100%;
max-width:420px;
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

/* avatar */
.avatar{
width:140px;
height:140px;
border-radius:50%;
border:5px solid white;
object-fit:cover;
animation:float 3s infinite;
margin-bottom:15px;
}

/* info */
.info{
margin-top:10px;
font-size:18px;
display:flex;
flex-direction:column;
align-items:center;
text-align:center;
}

.info p{
margin:6px 0;
}

/* -------- TABLET -------- */

@media(max-width:768px){

.container{
flex-direction:column;
align-items:center;
}

.card{
max-width:500px;
}

}

/* -------- MOBILE -------- */

@media(max-width:480px){

.card{
padding:25px;
}

.avatar{
width:110px;
height:110px;
}

.info{
font-size:16px;
}

}

/* animation */

@keyframes float{
0%{transform:translateY(0)}
50%{transform:translateY(-10px)}
100%{transform:translateY(0)}
}

@keyframes fade{
from{opacity:0}
to{opacity:1}
}